.input-textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-textarea__title {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 55px;
  .open-sans-normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
}
.input-textarea__unit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
}
.input-textarea__unit textarea {
  resize: none;
  overflow: visible;
  min-height: 180px;
  padding-left: 20px;
  padding-top: 14px;
  margin-bottom: 47px;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5;
}


@media @tablet-widths {
  .input-textarea {
    margin-bottom: 67px;
    padding-left: 60px;
    padding-top: 28px;
    padding-right: 60px;
    padding-bottom: 50px;
    border: 2px solid #e5e5e5;
  }
  .input-textarea__title {
    margin: 0;
    padding-right: 32px;
    padding-left: 32px;
    background: #ffffff;
    transform: translateY(-38px);
  }
  .input-textarea__title br {
    display: none;
  }
  .input-textarea__unit {
    width: 100%;
  }
  .input-textarea textarea {
    margin: 0;
    min-height: 175px;
  }
}


@media @desktop-widths {
  .input-textarea {
    box-sizing: border-box;
    flex-basis: 100%;
    margin-bottom: 63px;
    padding-top: 23px;
    padding-bottom: 45px;
  }
  .input-textarea textarea {
    margin: 0;
    min-height: 110px;
  }
  .input-textarea__title {
    transform: translateY(-33px);
  }
}