.input-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 33px;
  padding-top: 14px;
}
.input-text--pbot54 {
  padding-bottom: 54px;
}
.input-text__unit {
  display: flex;
  width: 280px;
  .m-p-zero;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.input-text__unit input {
  width: 100%;
  flex-basis: 100%;
  .m-p-zero;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 22px;
  .open-sans-normal;
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  border: 2px solid #e5e5e5;
}
.input-text label {
  padding-left: 23px;
  margin-bottom: 5px;
  margin-top: 15px;
  .open-sans-normal;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  color: #d22856;
}

::-webkit-input-placeholder { .open-sans-normal; font-size: 18px; line-height: 30px; color:#283645; }
::-moz-placeholder          { .open-sans-normal; font-size: 18px; line-height: 30px; color:#283645; }
:-moz-placeholder           { .open-sans-normal; font-size: 18px; line-height: 30px; color:#283645; }
:-ms-input-placeholder      { .open-sans-normal; font-size: 18px; line-height: 30px; color:#283645; }
