
@font-face {
  font-family: "Open Sans Light";
  src: url("../fonts/opensanslight.woff") format("woff"),
       url("../fonts/opensanslight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Normal";
  src: url("../fonts/opensans.woff") format("woff"),
       url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/opensansbold.woff") format("woff"),
       url("../fonts/opensansbold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.open-sans-light {
  font-family: "Open Sans Light", "Arial", sans-serif;
}
.open-sans-normal {
  font-family: "Open Sans Normal", "Arial", sans-serif;
}
.open-sans-bold {
  font-family: "Open Sans Bold", "Arial", sans-serif;
}


/*
.open-sans-light {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 300;
}
.open-sans-normal {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.open-sans-bold {
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
}
*/