.photos__page-description {
  padding-top: 45px;
  padding-bottom: 50px;
}
.photos__page-description p {
  .open-sans-normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}
.photos__outro-text p {
  padding-top: 20px;
  padding-bottom: 40px;
  .open-sans-normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645;
}


@media @tablet-widths {
  .photos__page-description {
    padding-top: 90px;
    padding-bottom: 80px;
  }
  .photos__page-description p {
    width: 460px;
    margin: 0 auto;
    font-size: 18px;
  }
  .photos__page-description br {
    display: none;
  }
  .photos__outro-text p {
    padding-top: 50px;
    padding-bottom: 70px;
    font-size: 18px;
  }
}