.main-footer {
  .container;
}
.main-footer--index {
  display: none;
}
.main-footer__glasses-logo {
  margin-top: 50px;
}
.main-footer__copyright {
  margin-top: 40px;
  vertical-align: middle;
}
.main-footer__copyright p {
  display: inline-block;
  margin-right: 15px;
  .open-sans-normal;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
  vertical-align: middle;
}
.main-footer__copyright a {
  display: inline-block;
  vertical-align: middle;
}