.available-platforms {
  margin-top: 33px;
  padding-bottom: 30px;
  font-size: 0px;
}
.available-platforms a {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  margin-right: 34px;
}
.available-platforms a:last-of-type {
  margin-right: 0px;
}
.available-platforms img {
  margin: 0;
  padding: 0;
  vertical-align: bottom;
}
.available-platforms__text {
  margin: 0;
  padding: 0;
  margin-top: 22px;
  .open-sans-light;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}