.contacts {
  padding-top: 41px;
}
.contacts h2 {
  .m-p-zero;
  .open-sans-light;
  font-size: 24px;
  line-height: 30px;
  color: #283645;
}
.contacts__element p {
  .m-p-zero;
  margin-top: 19px;
  margin-bottom: 3px;
  .open-sans-bold;
  font-size: 18px;
  line-height: 24px;
  color: #283645;
}
.contacts__element:first-of-type p {
  margin-top: 33px;
}
.contacts__element span {
  .m-p-zero;
  .open-sans-light;
  font-size: 24px;
  line-height: 30px;
  color: #d22856;
}
.contacts__map {
  overflow: hidden;
  height: 200px;
  margin-top: 33px;
  background: url("../../../img/bg-map.png") center bottom no-repeat;
}
.contacts__map iframe {
  width: 320px;
  height: 200px;
}