.download {
  padding-top: 28px;
}
.download a {
  color: #ffffff;
  text-decoration: none;
}
.download-link {
  display: block;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 16px;
  width: 281px;
  
  .open-sans-bold;
  font-size: 18px;
  line-height: 18px;
  
  border: 3px solid #ffffff;
  border-radius: 50px;
}
