.effect {
  display: none;
}

@media @tablet-widths {
  .effect {
    display: block;
    min-height: 335px;
    padding-left: 350px;
    padding-top: 90px;
    padding-right: 40px;
    text-align: left;
    background: url("/img/icon-timer.svg") left 40px bottom no-repeat;
  }
  .effect__title {
    .open-sans-bold;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
  }
  .effect__text {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 24px;
    color: #283645;
  }
  .effect__more {
    line-height: 24px;
    color: #d22856;
  }
  
}