.index-intro {
  color: #ffffff;
}
.index-intro__bg {
  position: relative;
  /*margin-top: -4px;*/
  padding-top: 25px;
  color: #ffffff;
}
.index-intro__bg h1 {
  margin: 0;
  padding-bottom: 314px;
  font-size: 24px;
  line-height: 30px;
  .open-sans-light;
}

/*  ПЛАНШЕТЫ  */

@media @tablet-widths {
  
  .index-intro {
    position: relative;
  }
  .index-intro__bg {
    .mp-zero;
    padding-top: 92px;
    background: none;
  }
  .index-intro__bg h1 {
    .mp-zero;
    display: block;
    width: 200px;
    margin-left: 90px;
    font-size: 40px;
    line-height: 48px;
  }
  
}


@media @desktop-widths {
  .index-intro {
    position: relative;
    background: none;
  }
  .index-intro__bg {
    padding-top: 107px;
  }
  .index-intro__bg h1 {
    .mp-zero;
    display: block;
    width: 250px;
    margin-left: 158px;
    font-size: 50px;
    line-height: 60px;
  }
}