.index-intro {
  color: #ffffff;
  background-color: #1d2631;
}
.index-intro__bg {
  position: relative;
  margin-top: -4px;
  padding-top: 88px;
  background: url(/img/bg-back-mobile.jpg) center top no-repeat;
  background-color: #1d2631;
  color: #ffffff;
  
  @media @tablet-widths {
    background: none;
  }
}
.index-intro__bg::after {
  content: "";
  width: 258px;
  height: 286px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: url(/img/iphone-hand-mobile.png) no-repeat;
}
.index-intro__bg h1 {
  margin: 0;
  padding-bottom: 314px;
  font-size: 24px;
  line-height: 30px;
  .open-sans-light;
}

/*  ПЛАНШЕТЫ  */

@media @tablet-widths {
  
  .index-intro__bg {
    background: none;
  }
  
}
