.information {
  position: relative;
  background: url(../img/iphone-screen-mobile.png) center bottom -6% no-repeat;
  background-color: #f2f2f2;
  padding-bottom: 319px;
}
.information__header {
  position: relative;
  padding-top: 39px;
  padding-bottom: 30px;
  
  background-color: #ffffff;
}
.information__header h2 {
  margin: 0;
  padding: 0;
  
  font-size: 24px;
  line-height: 30px;
  .open-sans-light;
}
 .information__image {
  display: none;
}
.information__features-list {
  padding-top: 81px;
}
.information__feature h3 {
  .m-p-zero;
  margin-bottom: 11px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  .open-sans-bold;
  
}
.information__feature p {
  .m-p-zero;
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  .open-sans-normal;
}
.information__feature:last-child p {
  margin-bottom: 0px;
}



@media @tablet-widths {
  .information__header {
    padding-top: 47px;
    padding-bottom: 47px;
  }
  .information__header h2 {
    font-size: 40px;
    line-height: 48px;
  }
  .information__header h2 br:nth-of-type(2) {
    display: none;
  }
  .information {
    position: relative;
    padding-bottom: 20px;
    background: url("../img/iphone-screen-tablet-3@1x.png") left 40px bottom no-repeat;
    background-color: #f2f2f2;
  }
  .information__features-list {
    text-align: left;
    padding-left: 350px;
    padding-top: 76px;
  }
  .information__feature p {
    margin-bottom: 36px;
  }
}


@media @desktop-widths {
  .information {
    box-sizing: border-box;
    padding-bottom: 35px;
    
  }
  .information__header {
    padding-top: 65px;
    padding-bottom: 80px;
  }
  .information__header h2 {
    font-size: 50px;
    line-height: 60px;
  }
  .information__header br:nth-of-type(2) {
    display: none;
  }
  .information {
    position: relative;
    padding-bottom: 0;
    background: none;
    background-color: #f2f2f2;
  }
  .information__images-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 130px;
  }
  .information__image {
    display: block;
  }
  .information__features-list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding-top: 0;
    padding-left: 130px;
    padding-right: 130px;
  }
  .information__feature {
    margin-top: 55px;
    width: 30%;
  }
  .information__feature h3 {
    font-size: 30px;
    line-height: 30px;
  }
  .information__feature p {
    margin-top: 20px;
    font-size: 18px;
    line-height: 30px;
  }
  .information__feature br {
    display: none;
  }
}